// Color variables
$RWDProto-grey: #acb1b4;
$RWDProto-light-grey: #FDFDFD;
$color-temp: rgba(255,0,0,.2);
$color-temp-green: rgba(0,255,0,.2);

body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}
.content{
	&::-webkit-scrollbar {
	    width: 4px;
	}

	&::-moz-scrollbar {
	    width: 4px;
	}
	/* Track Chrome */
	&::-webkit-scrollbar-track {
	    -webkit-border-radius: 999em;
	    border-radius: 999em;
	    background: #212a2f;
	    opacity:0; 
	}
	/* Track Firefox */
	&::-moz-scrollbar-track {
	    -moz-border-radius: 999em;
	    border-radius: 999em;
	    background: #212a2f;
	    opacity:0; 
	}
	/* Handle Chrome */
	&::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 999em;
	    border-radius: 999em;
	    background: #212a2f;
	    background: $RWDProto-grey;
	}
	/* Handle Firefox */
	&::-moz-scrollbar-thumb {
	    -moz-border-radius: 999em;
	    border-radius: 999em;
	    background: #212a2f;
	    background: $RWDProto-grey;
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0,0,0,0.4); 
		opacity:0; 
	}
	&::-webkit-scrollbar-button:horizontal:decrement:hover {
		border:1px solid $RWDProto-grey;
	}
	&::-moz-scrollbar-thumb:window-inactive {
		background: rgba(0,0,0,0.4); 
		opacity:0; 
	}
	&::-moz-scrollbar-button:horizontal:decrement:hover {
		border:1px solid $RWDProto-grey;
	}
}


body{
	color: black;
	font-style: normal;
	font-weight: 400;
	position: relative;

	background: #dcdfdf; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #dcdfdf 0%, #ffffff 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdfdf), color-stop(65%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dcdfdf 0%,#ffffff 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dcdfdf 0%,#ffffff 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dcdfdf 0%,#ffffff 65%); /* IE10+ */
	background: linear-gradient(to bottom,  #dcdfdf 0%,#ffffff 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	background-repeat: no-repeat;
}

a{
	@include transition-property(all);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-in-out);
	text-decoration: none;
}

.ink-grid {
  max-width: 1200px;
}
.fixed-height{
	min-height: 710px;
}

.mobile-mask{
	background: transparent url(../imgs/sprite-device.png) no-repeat 0 0;
	width: 382px;
	height: 801px;
	float: right;
	top: 20px;
	position: absolute;
	right: 0;
	z-index: 3;
}
.sprite{
	float: left;
	position: relative;
	&.mobile-phone{
		background: transparent url(../svg/icon-phone.svg) no-repeat 0 0;
		background-size: 100%;
		width: 26px;
  		height: 41px;
		margin-right: 15px;
		top: -1px;
	}
	&.brand-logo{
		background: transparent url(../svg/brand-logo.svg) no-repeat 0 0;
		background-size: 100%;
		width: 532px;
		height: 533px;
		position: absolute;
		top: 172px;
		right: -419px;
		z-index: -1;
	}
	&.icon-download{
		background: transparent url(../svg/icon-download.svg) no-repeat 0 0;
		background-size: 100%;
		width: 33px;
		height: 33px;
		float: left;
		top: -5px;
		left: -6px;
		margin-right: 7px;
	}
	&.icon-desktop{
		background: transparent url(../svg/icon-desktop.svg) no-repeat 0 0;
		background-size: 100%;
		width: 40px;
		height: 37px;
		margin-right: 15px;
		top: -1px;
	}
}

.rwd-header{
	padding-top: 2.1em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0.01em;
	.version{
		display: block;
		font-size: .6em;
		padding-top: 2px;
		left: 2px;
		position: relative;
	}
}
.project-name{
	font-size: 3em;
	color: black;
	margin-top: -13px;
}
.project-description{
	font-size: 0.9em;
}
.left-side{
	position: relative;
}

.right-side{
	position: relative;
}

.ink-mobile-container{
	width: 100%;
	float: right;
	position: relative;
	min-height: 710px;
	.ink-tabs{
		position: relative;
		margin-top: 112px;
		.tabs-content {
			position: absolute;
			top: -25px;
			right: 29px;
			padding: 0;
			background-color: black;
			width: 320px;
			height: 568px;
			overflow: hidden;
			overflow-y: auto;
			z-index: 5;
		}
	}
	.tabs-nav{
		position: relative;
		width: 100%;
		padding-left: 1.5em;
		padding-right: 1.5em;
		margin: 8em 0;
		clear: both;
		li{
			width: 50%;
			background: red;
			display: block;
			padding-left: 73px;
			&.active{
				a{
					background: white;
					color: black;
					z-index: 2;
					border: 0;
					&:before{
						background-color: black;
					}
					&:hover{
						background: white;
						color: black;
					}
				}
			}
			a{
				background: $RWDProto-light-grey;
				padding: 12px 20px 0;
				position: relative;
				float: right;
				width: 100%;
				height: 48px;
				margin-bottom: 4px;
				color: $RWDProto-grey;
				border: 0;
				@include transition-property(all);
				@include transition-duration(.25s);
				@include transition-timing-function(ease-in-out);
				&:before{
					content: '';
					width: 4px;
					height: 48px;
					background-color: $RWDProto-grey;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
				}
				&:hover{
					background: $RWDProto-grey;
					color: white;
					text-decoration: none;
				}
				&:focus{
					background: white;
					color: white;
					background-color: black;
					&:before{
						background-color: black;
					}
				}
			}
		}
	}
}

.download{
	position: absolute;
	bottom: 3px;
	right: 377px;
	background: $RWDProto-grey;
	color: white;
	padding: 12px 20px;
	position: absolute;
	width: 178px;
	height: 48px;
	@extend %animation-smooth;
	@include transition-property(right);
	right: 259px;
	&:hover{
		background: black;
		text-decoration: none;
		color: white;
		right: 377px;
	}
}
footer{
	margin-bottom: 4em;
	margin-top: -13px;
}
.credits{
	font-size: .85em;
	color: $RWDProto-grey;
	font-weight: 400;
	a{
		color: black;
	}
}

// Modal
.ink-modal{
	@include border-radius(0);
	.desktop-header{
		@extend	.rwd-header;
		padding-top: 0.6em;
	}
	.modal-header{
		padding: .4em 1em .2em;
		@include box-shadow(none);
		border-bottom: 1px solid #e2e2e2;
		background-color: $RWDProto-light-grey;
		position: relative;
	}
	.modal-body{
		padding: 0;
		margin: 0 auto;
		img{
			border-left: 1px solid #e2e2e2;
			border-right: 1px solid #e2e2e2;
		}
	}
	.btn-close{
		text-indent: -99999em;
		width: 21px;
		height: 21px;
		position: absolute;
		top: 1.5em;
		right: 1.5em;
		background: transparent url(../svg/icon-close.svg) no-repeat 0 0;
		background-size: 100%;
		&:hover{
			background: transparent url(../svg/icon-close-hover.svg) no-repeat 0 0;
		}
	}
}
