.container {
  padding: 1em 0 1em 0.5em;
}

.container pre,
.container code {
  background-color: #eee;
}

.container pre {
  font-size: 1.5em;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  background-color: #d0383e;
  color: #fff;
  border: none;
  cursor: pointer;
  line-height: 2em;
  font-weight: bold;
  opacity: 0.9;
}

.container button:hover {
  opacity: 1;
}

.container img {
  width: 2em;
  height: 2em;
}

.container img svg {
  fill: #fff;
}

@media (max-width: 430px) {
  .container pre {
    padding: 0.3em;
    font-size: 1.1em;
  }

  .container button {
    padding: 0.25em 0.5em;
    line-height: 1em;
  }

  .container img {
    width: 1em;
    height: 1em;
  }
}
