.container {
  display: flex;
}

.logo {
  padding-top: 1em;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--interactive);
}

.title {
  margin-left: 0.3em;
  font-size: 2.2em;
}

@media;
