.container {
  margin-top: 5em;
  text-align: center;
}

.container a {
  color: #d0383e;
}

.social {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.social > div {
  padding: 1em;
}
